*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
    

}
header .container{
    width: 100%;
}
body{
    background-color: #cfc6c6;
}

header{
    background-color: gray;
    border-bottom: 3px solid black;
    text-decoration: none;

}

.produto{
    margin-top: 90px;
    margin-bottom: 90px;
}
footer{
    margin-top: 90px;
    padding: 1px;
    background-color: rgb(9, 9, 141);
    display: inline;
    color: #fff;
}
.botoes{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-content: space-between;

}
.botoes img{
    height: 33px;
    justify-content: space-between;
    display: inline;
    margin: 10px;
    

}
.tituloum{
    align-items: center;
    justify-content: center;
    display: flex;

}


