
.container{
    justify-content: center;
    align-items: center;
    display: flex;
    

}

body{
    background-color: #cfc6c6;
}

header{
    background-color: gray;
    border-bottom: 3px solid black;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}


.produto{
    margin-top: 90px;
    margin-bottom: 90px;
}
.produto h2{
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 3px solid gray;
    
}
.produto article button{
    width: 100%;
    background-color: green;
    border: none;
}
.produto h3,h6{
    align-items: center;
    justify-content: center;
    display: flex;
    
}

footer{
    margin-top: 90px;
    padding: 1px;
    background-color: rgb(9, 9, 141);
    display: inline;
    color: #fff;
}
.botoes{
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;

}
.botoes img{

    height: 33px;
    justify-content: space-between;
    margin-left: 3em;
    

}


.tituloum{
    align-items: center;
    justify-content: center;
    display: flex;
    

}


